@import '../variables'

.list-creator__trigger
  margin: 16px 0
  padding: 0 16px 0 24px
  font-size: 18px
  color: $white
  transition: $main-transition
  opacity: 0.65
  cursor: pointer

  &:hover
    opacity: 1

.list-creator__trigger-icon
  margin-right: 10px

.list-creator__modal
  color: $white