@import '../variables'

.navbar-user
  text-overflow: ellipsis
  color: $white
  overflow: hidden
  width: 240px
  white-space: nowrap

.navbar-user__avatar.ant-avatar
  text-transform: uppercase
  background-color: $primary
  font-weight: 600
  cursor: pointer

.navbar-user__email
  margin-left: 8px
  color: $white
  font-size: 18px
