.navbar
  height: 100%

.navbar__sider
  min-height: 100%

.navbar__sider .ant-menu-inline-collapsed > .ant-menu-item .anticon
  font-size: 18px

.navbar__menu-item.ant-menu-item
  height: 45px !important
  line-height: 45px !important

.navbar__menu-item.ant-menu-item .anticon
  font-size: 18px

.navbar__menu-text
  font-size: 18px

.navbar__menu-separator
  opacity: .2
