.navbar
  height: 100%

.navbar__sider
  min-height: 100%

.ant-menu-inline-collapsed > .ant-menu-item .anticon
  font-size: 18px

.navbar__menu-item .anticon
  font-size: 16px

.navbar__menu-text
  font-size: 16px

.navbar__menu-separator
  opacity: .2
