@import '../variables'

.todo-list
  width: 100%
  padding: 60px
  transition: $main-transition
  overflow: auto

/* Header */

.todo-list__header
  margin-bottom: 24px
  display: flex
  align-items: center
  justify-content: space-between

.todo-list__title
  padding: 0 10px
  font-size: 36px
  font-weight: 700
  margin-bottom: 0

.todo-list__dropdown-icon
  padding: 10px
  font-size: 20px

  cursor: pointer

.todo-list__items
  list-style: none
  padding: 0
