.todo-list
  width: 100%
  padding: 60px 
  transition: .2s all ease-in-out
  
  &--show_details
    padding-right: 460px

.todo-list__title
  margin-bottom: 40px
  font-size: 36px
  font-weight: 700

.todo-list__items
  list-style: none
  padding: 0