@import 'variables'
@import 'breakpoints'

.ant-input.ant-input-lg
  +media('>600px')
    font-size: 18px

.ant-modal-title
  font-weight: 600

.ant-modal-confirm-btns
  width: 100%
  display: flex
  align-items: center

  .ant-btn
    width: 100%

.ant-result
  padding: 0

.ant-layout-sider-zero-width-trigger
  +media('<=tablet')
    top: 46px

  +media('<=phone')
    top: 20px
    right: -32px
    width: 32px
    height: 38px