@import 'variables'

.ant-input
  border-radius: $base-border-radius
  color: $black

.ant-input-affix-wrapper
  border-radius: $base-border-radius

.ant-input.ant-input-lg
  font-size: 18px

.ant-btn
  border-radius: $base-border-radius
  font-weight: 600

.ant-modal-header
  border-radius: $base-border-radius $base-border-radius 0 0

.ant-modal-content
  border-radius: $base-border-radius

.ant-alert
  border-radius: $base-border-radius

.ant-dropdown-menu
  border-radius: $base-border-radius

.ant-avatar-square
  border-radius: $base-border-radius

.ant-tooltip-inner, .ant-message-notice-content
  border-radius: $base-border-radius / 2

.ant-modal-title
  font-weight: 600

.ant-modal-confirm-btns
  width: 100%
  display: flex
  align-items: center

  .ant-btn
    width: 100%